<div class="container">

  <div class="row">
    <div class="col-md-12">
    {{ content.slider }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
    {{ content.top }}
    </div>
  </div>

  <div class="row">

    <div class="col-md-9">
		{{ content.left }}
    </div>

    <div class="col-md-9">
		{{ content.right }}
    </div>

    <div class="col-md-3">
    	<aside class="sidebar">
		    {{ content.twitter }}
      </aside>
    </div>

  </div>

</div>
