<!-- START: div#body_wrap1 -->
<div id="body_wrap1"><a href="#top" class="hidden">top</a><a href="#skip_to_main_content" class="hidden" accesskey="s">Skip to main article content</a>



	<!-- START: header : contains logo, primary menu, secondary menu, search -->
	<header>


		<!-- START: section.header_items -->
		<section class="header_items row">

			<div class="header_mobile_menu_toggle_container inner_column">
				<div class="header_mobile_menu_toggle" id="js_header_mobile_menu_toggle">Mobile Menu Toggle</div>
			</div>

			<!-- START: div.header_logo -->
			<div class="header_logo_container inner_column column_no_padding_both">
				<a href="/" class="header_logo">
					<div class="header_logo_bug"><img src="{{ theme_path }}/images/logo-ghsa-1.png" alt="GHSA: Governors Highway Safety Association" /></div>
					<div class="header_logo_logotype">
						<div class="header_logo_logotype_organization">Governors Highway Safety Association</div>
						<div class="header_logo_logotype_tagline">The States’ Voice on Highway Safety</div>
					</div>
				</a>
			</div>
			<!-- END: div.header_logo -->

			<!-- START: div.header_primary_menu_container -->
			<div id="js_header_primary_menu_container" class="header_primary_menu_container inner_column column_no_padding_both">

				<nav class="header_primary_menu" id="js_primary_menu">

					<h2 class="hidden">Primary Menu</h2>
					<ul class="dropdown menu" data-dropdown-menu>
						<li class="active-trail menu-item--expanded"><a href="#">Issues</a>
							<ul>
								<li><a href="#">Distracted Driving</a></li>
								<li class="menu-item--expanded"><a href="#">Impaired Driving</a>
									<ul>
										<li><a href="#">Test child 1.2.1</a></li>
										<li><a href="#">Test another child 1.2.2</a></li>
										<li><a href="#">Test child 1.2.3</a></li>
									</ul>
								</li>
								<li><a href="#">Occupant Protection</a></li>
								<li><a href="#">Teen Drivers</a></li>
								<li><a href="#">Speeding & Aggressive Driving</a></li>
								<li><a href="#">Speed & Red Light Cameras</a></li>
								<li><a href="#">Motorcyclist</a></li>
								<li><a href="#">Mature Drivers</a></li>
								<li><a href="#">Bicyclists & Pedestrians</a></li>
								<li><a href="#">Traffic Record</a></li>
								<li><a href="#">Drowsy Driving</a></li>
								<li><a href="#">Law Enforcement</a></li>
							</ul>
						</li>
						<li class="menu-item--expanded"><a href="#">State Laws</a>
							<ul>
								<li><a href="/state-laws/by-issue">Laws By Issue</a></li>
								<li><a href="/state-laws/by-state">Laws By State</a></li>
							</ul>
						</li>
						<li class="menu-item--expanded"><a href="#">Resources</a>
							<ul>
								<li><a href="#">Publications</a></li>
								<li><a href="#">State Highway Safety Showcase</a></li>
								<li><a href="#">Traffic Records Training</a></li>
								<li><a href="#">Research Program</a></li>
								<li><a href="#">SHSO Administration</a></li>
								<li><a href="#">Partner Opportunities</a></li>
							</ul>
						</li>
						<li class="menu-item--expanded"><a href="#">Events</a>
							<ul>
								<li><a href="#">Annual Meetings</a></li>
								<li><a href="#">Lifesavers</a></li>
								<li><a href="#">Traffic Records</a></li>
								<li><a href="#">Executive Seminar</a></li>
							</ul>
						</li>
						<li class="menu-item--expanded"><a href="#">About</a>
							<ul>
								<li><a href="#">SHSOs</a></li>
								<li><a href="#">Associate Members</a></li>
								<li><a href="#">Associate Members</a></li>
								<li><a href="#">Join GHSA</a></li>
								<li><a href="#">Safety Awards</a></li>
								<li><a href="#">News</a></li>
								<li><a href="#">Staff</a></li>
							</ul>
						</li>
					</ul>

				</nav>

			</div>
			<!-- END: div.header_primary_menu_container -->

			<!-- START: div.header_secondary_menu_container -->
			<div class="header_secondary_menu_container inner_column column_no_padding_both">
				<nav class="header_secondary_menu" id="js_secondary_menu">

					<h2 class="hidden">Secondary Menu</h2>
					<ul class="menu">
						<li class="secondary_menu_member_login" title="Member Login"><a href="#">Member Login</a></li>
						<li class="secondary_menu_partner_with_us" title="Partner with Us"><a href="#">Partner with Us</a></li>
					</ul>

				</nav>
			</div>
			<!-- END: div.header_secondary_menu_container -->

			<!-- START: header_search_container -->
			<div class="header_search_container inner_column column_no_padding_both">

				<!-- START: header_search -->
				<div class="header_search" id="js_search_desktop">
					<h2 class="hidden">Search</h2>
					<div class="search_toggle js_search_toggle" title="Search">Search toggle</div>
					<div class="search_form_container js_search_container">
						<div class="js_close">Close</div>
						<form>
							<label>Search</label>
							<input type="text" value="Start Typing">
							<input type="submit">
						</form>
					</div>
				</div>
				<!-- END: header_search -->

			</div>
			<!-- END: header_search_container -->

		</section>
		<!-- END: section.header_items -->


		<!-- START: section.header_items_2 -->
		<section class="header_items_2 row">

			<div class="mobile_640_column_1 inner_column"><ul></ul></div>
			<div class="mobile_640_column_2 inner_column"></div>
			<div class="mobile_640_column_3 inner_column"><ul></ul></div>

		</section>
		<!-- END: section.header_items_2 -->


		<!-- START: section.header_items_3 -->
		<section class="header_items_3 row">

			<div class="mobile_640_column_1 inner_column"></div>
			<div class="mobile_640_column_2 inner_column"></div>
			<div class="mobile_640_column_3 inner_column"></div>

		</section>
		<!-- END: section.header_items_2 -->


	</header>
	<!-- END: header -->




	<!-- START: main : contains main page content -->
	<main><a id="skip_to_main_content" class="tiny_near_hidden"></a>


		<!-- START: section.row_container -->
		<section class="row_container row_stripe_grey">

			<!-- START: .row -->
			<div class="row">

				<!-- START: columns -->
				<div class="columns small-7 small-offset-1 column_no_padding_left">
					{{ page.content }}
				</div>
				<!-- END: columns -->

				<!-- START: columns -->
				<div class="columns small-3 end column_no_padding_right">

					<!-- START: .block.block-view-laws -->
					<div class="block block-view-laws">

						<h2 class="icon_laws">Laws</h2>

						<!-- START: view-laws -->
						<div class="view view-laws">

							<!-- START: views-row -->
							<div class="views-row">

								<div class="views-field field-tags-state">
									<h3>Choose State</h3>
									<ul>
										<li><a href="#">Alabama</a></li>
										<li><a href="#">Wyoming</a></li>
									</ul>
								</div>
								<div class="views-field field-link"><a href="#" class="button">See All Related</a></div>

							</div>
							<!-- END: views-row -->

						</div>
						<!-- END: view-laws -->

					</div>
					<!-- END: .block.block-view-laws -->

					<!-- START: .block.block-view-publications -->
					<div class="block block-view-publications">

						<h2 class="h2_type_1">Publications</h2>

						<!-- START: view-publications -->
						<div class="view view-publications">

							<div class="view-content">
								<ul>
									<li class="views-row">
										<div class="views-field field-title"><a href="#">Cras justo odio, dapibus ac facilisis in, egestas eget quam</a></div>
									</li>
									<li class="views-row">
										<div class="views-field field-title"><a href="#">Vestibulum id ligula</a></div>
									</li>
									<li class="views-row">
										<div class="views-field field-title"><a href="#">Cras mattis consectetur purus sit amet fermentum mattis consectetur purus sit amet fermentum</a></div>
									</li>
									<li class="views-row">
										<div class="views-field field-title"><a href="#">Donec id elit non mi porta gravida at eget metus</a></div>
									</li>
								</ul>
							</div>
							<div class="view-footer">
								<div><a href="#" class="button">View All Publications</a></div>
							</div>

						</div>
						<!-- END: view-publications -->

					</div>
					<!-- END: .block.block-view-laws -->

				</div>
				<!-- END: columns -->

			</div>
			<!-- END: .row -->

		</section>
		<!-- END: section.row_container -->


	</main>
	<!-- END: main -->



	<!-- START: footer : contains footer elements -->
	<footer>


		<!-- START: section.footer_contact_information -->
		<section class="footer_contact_information">

			<!-- START: .row -->
			<div class="row footer_contact_information_data">

				<!-- START: columns -->
				<div class="columns small-10 small-offset-1 end column_no_padding_both">

					<div class="region inner_column region_contact_block_title">
						<div class="block contact_block_title">
							<h2>Contact Us</h2>
						</div>
					</div>
					<div class="region inner_column">
						<div class="block contact_address">
							<p>444 N. Capital Street, NW, Suite 722, <br />Washington DC 20001­1534</p>
						</div>
					</div>
					<div class="region inner_column">
						<div class="block contact_phone">
							<p>202.789.0942 &#8212; phone</p>
						</div>
					</div>
					<div class="region inner_column">
						<div class="block contact_email">
							<p><a href="mailto:headquarters@ghsa.org">headquarters@ghsa.org</a></p>
						</div>
					</div>

				</div>
				<!-- END: columns -->

			</div>
			<!-- END: .row -->

		</section>
		<!-- END: section.footer_contact_information -->

		<!-- START: section.footer_primary_menu_container -->
		<section class="footer_primary_menu_container row">

			<!-- START: div.footer_primary_menu -->
			<nav class="footer_primary_menu columns small-10 small-offset-1 end column_no_padding_both" id="js_footer_primary_menu">

				<h2 class="hidden">Primary Menu Reiteration</h2>
				<ul class="menu">
					<li><a href="#">Issues</a>
						<ul>
							<li><a href="#">Distracted Driving</a></li>
							<li><a href="#">Impaired Driving</a></li>
							<li><a href="#">Occupant Protection</a></li>
							<li><a href="#">Teen Drivers</a></li>
							<li><a href="#">Speeding & Aggressive Driving</a></li>
							<li><a href="#">Speed & Red Light Cameras</a></li>
							<li><a href="#">Motorcyclist</a></li>
							<li><a href="#">Mature Drivers</a></li>
							<li><a href="#">Bicyclists & Pedestrians</a></li>
							<li><a href="#">Traffic Record</a></li>
							<li><a href="#">Drowsy Driving</a></li>
							<li><a href="#">Law Enforcement</a></li>
						</ul>
					</li>
					<li><a href="#">State Laws</a>
						<ul>
							<li><a href="#">Laws By Issue</a></li>
							<li><a href="#">Laws By State</a></li>
						</ul>
					</li>
					<li><a href="#">Resources</a>
						<ul>
							<li><a href="#">Publications</a></li>
							<li><a href="#">State Highway Safety Showcase</a></li>
							<li><a href="#">Traffic Records Training</a></li>
							<li><a href="#">Research Program</a></li>
							<li><a href="#">SHSO Administration</a></li>
							<li><a href="#">Partner Opportunities</a></li>
						</ul>
					</li>
					<li><a href="#">Events</a>
						<ul>
							<li><a href="#">Annual Meetings</a></li>
							<li><a href="#">Lifesavers</a></li>
							<li><a href="#">Traffic Records</a></li>
							<li><a href="#">Executive Seminar</a></li>
						</ul>
					</li>
					<li><a href="#">About</a>
						<ul>
							<li><a href="#">SHSOs</a></li>
							<li><a href="#">Associate Members</a></li>
							<li><a href="#">Associate Members</a></li>
							<li><a href="#">Join GHSA</a></li>
							<li><a href="#">Safety Awards</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Staff</a></li>
						</ul>
					</li>
				</ul>

			</nav>
			<!-- END: div.footer_primary_menu -->

		</section>
		<!-- END: section.footer_primary_menu_container -->

		<!-- START: section.footer_copyright -->
		<section class="footer_copyright row">

			<div class="columns small-10 small-offset-1 end column_no_padding_both">
				<p>&copy;2016 Governors Highway Safety Association</p>
			</div>

		</section>
		<!-- END: section.footer_copyright -->


	</footer>
	<!-- END: footer -->



</div>
<!-- END: div#body_wrap1 -->

<div id="js_yardstick"></div>

<div id="js_mobile_menu" class="mobile_menu"><div class="mobile_menu_inner">
	<div class="mobile_menu_header">
		<div class="js_close">Close</div>
		<h2>Menu</h2>
	</div>
</div></div>


<script src="{{ theme_path }}/foundation/js/vendor/jquery.js"></script>
<script src="{{ theme_path }}/foundation/js/vendor/what-input.js"></script>
<script src="{{ theme_path }}/foundation/js/vendor/foundation.js"></script>
<script src="{{ theme_path }}/foundation/js/app.js"></script>