<div class="container">

  <div class="row issues-banner">
    {{ content.banner }}
  </div>

  <div class="row issues-top">
    {{ content.top }}
  </div>

  <div class="row issues-middle row_stripe_grey">
    <div class="medium-8 columns">
      {{ content.middle_left }}
    </div>
    <div class="medium-4 columns">
      {{ content.middle_right }}
    </div>
  </div>

  <div class="row issues-bottom">
    <div class="medium-8 columns">
      {{ content.bottom_left }}
    </div>
    <div class="medium-4 columns">
      {{ content.bottom_right }}
    </div>
  </div>

</div>
